@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --secondary: #c91b28;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  font-family: "Montserrat";
}

.myheader {
  padding-top: 16px;
  background-color: black;
}
.top-nav-logo {
  width: 70px;
}

.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.items-top {
  flex-grow: 0.2;

  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  list-style: none;
  color: white;
}

.triangle-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid white;
  margin-left: 5px;
}
.item-top {
  margin-left: 10px;
}
.items-top-sub {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.myheader-part-1 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.myheader-part-1-left-image {
  width: 400px;
}
.myheader-part-1-right {
  display: flex;
  flex-direction: column;
}
.myheader-part-1-right-title-1 {
  color: var(--secondary);
  font-size: 18px;
  margin-bottom: 8px;
}
.myheader-part-1-right-title-2 {
  font-size: 46px;
}
.myheader-part-1-right-title-3 {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 32px;
  font-weight: 400;
}
.myheader-part-1-right-BUTTON-1 {
  width: fit-content;

  padding: 15px 30px;
  color: white;
  background-color: var(--secondary);
}
.mymain {
  background-color: #111111;
  position: relative;
}

.main-part-1-left {
  background-color: #181818;
  width: 50vw;
  height: 660px;
}
.main-part-1-left-part-1 {
  position: absolute;
  left: 300px;

  top: 70px;
}
.main-part-1-left-part-1-box-1 {
  background-color: #1e1e1e;
  width: 170px;
  padding: 24px 24px;
}

.main-part-1-left-part-1-box-1-img {
  width: 50px;
}
.main-part-1-left-part-1-heading {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
}
.main-part-1-left-part-1-sub-heading {
  font-size: 14px;
  font-weight: 400;
}
.main-part-1-left-part-1-box-1 {
  color: white;
}
.main-part-1-left-part-1-box-1-more {
  margin-top: 16px;
  color: var(--secondary);
  font-weight: 600;
  font-size: 12px;
}
.main-part-1-left-part-1 {
  display: flex;
  flex-direction: row;
}
.part-1-box-2 {
  background-color: var(--secondary);
  color: white;
  margin-left: 12px;
  margin-right: 12px;
}
.part-1-box-3 {
  color: white;
}
.main-part-1-left-part-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);

  grid-column-gap: 12px;
  grid-row-gap: 12px;

  position: absolute;
  left: 300px;
  top: 400px;
  color: white;
}
.main-part-1-left-part-2 h4 {
  color: var(--secondary);
}
.part-2-gridbox {
  width: 170px;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-part-1-left-part-2-part-1 {
  grid-column: 1;
  grid-row: 1 / 3;
}

.part-2-gridbox-back {
  background-color: #1e1e1e;
}
.part-2-gridbox-back h4 {
  font-size: 32px;
}
.part-2-gridbox-back h6 {
  font-weight: 400;
}
.main-part-1-left-part-2-part-1 h4 {
  font-size: 72px;
  font-weight: 900;
}
.main-part-1-left-part-2-part-1 h6 {
  font-size: 16px;
}
.mainmain-part-2 {
  background-color: #111111;
}
.featured-project {
  margin-top: 32px;
  margin-bottom: 32px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.featured-project h6 {
  font-weight: 400;
}
.featured-project h4 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 10px;
}
.featured-project button {
  background-color: var(--secondary);
  color: white;
  padding: 8px 20px;
}
.mainmain-part-2-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 36px;
  margin-bottom: 24px;
}
.mainmain-part-2-cards h4 {
  color: white;
}
.mainmain-part-2-cards img {
  width: 300px;
}
.mainmain-part-2-cards-imgback {
  background-color: #1e1e1e;
  padding: 58px 24px;
  margin-bottom: 24px;
}

.mainmain-part-2-cards-imgback img {
  width: 350px;
  height: 200px;
  object-fit: cover;
}
.bottomheader {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 180px;
  background-color: #1e1e1e;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 36px;
}
.bottomheader h4 {
  font-size: 28px;
}
.bottomheader h6 {
  font-size: 10px;
  font-weight: 200;
  margin-top: 12px;
}

.bottomheader-btn {
  background-color: var(--secondary);
  color: white;
  padding: 8px 20px;
  margin-right: 80px;
}
.bottom-nav {
  color: white;
  font-size: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 36px;
  margin-bottom: 36px;
}
.bottom-logoo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding-left: 36px;
  background-color: #1e1e1e;
  padding-top: 36px;
  padding-bottom: 36px;
  gap: 280px;
}

.footer-logoo {
}
.bott-nav-logo {
  width: 120px;
}
.bott-nav-container-logo {
  flex-grow: 0.5;
}
